/*// BASE STYLES //*/

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
}

.grass,
.sky,
.road {
	position: relative;
}

.sky {
	height: 40%;
	background: skyblue;
}

.grass {
	height: 30%;
	background: seagreen;
}

.road {
	height: 30%;
	background: dimgrey;
	box-sizing: border-box;
	border-top: 10px solid grey;
	border-bottom: 10px solid grey;
	width: 100%;
}

.lines {
	box-sizing: border-box;
	border: 5px dashed #fff;
	height: 0px;
	width: 100%;
	position: absolute;
	top: 45%;
}

/*// ELEMENTS TO ANIMATE //*/

.mario {
	position: absolute;
	top: -140px;
	left: 0;
	animation: drive 3.5s linear infinite both;
	animation-delay: 2s;
	animation-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.luigi {
	position: absolute;
	top: -40px;
	left: 0;
	animation: drive 3s linear infinite both;
	animation-delay: 1.2s;
	animation-direction: reverse;
}

/*// KEYFRAMES //*/
@keyframes drive {
	0% {
		transform: translateX(-200px);
	}
	100% {
		transform: translateX(2000px);
	}
}
